* {
    color: white;
}

#background {
    background-color: darkgreen;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 2rem;
    background-size: 100%;
    margin: 0;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: .5rem solid black;
    border-radius: 20%;
    min-height: 100%;
    padding: 1rem;

    max-width: 400px;
    margin: 0 auto;
}

img {
    height: 10rem;
    width: 7rem;
}

button {
    background-color: black;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

button:hover {
    background-color: darkgrey;
}

button:active {
    background-color: lightgrey;
}

h1,
h2 {
    /* border: .2rem solid black; */
    padding: .5rem;
    margin: 1rem;
    border-radius: 1rem;
}

h3 {
    /* border: .2rem solid black; */
    padding: .5rem;
    margin-top: 0rem;
    border-radius: 1rem;
}