#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    min-height: 30vh;
    max-height: 100%;
    min-width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

img {
    height: 10rem;
    width: 7rem;
}

button {
    max-width: max-content;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: darkgray;
}

h1,
h2,
h3 {
    border: .2rem solid black;
    padding: .5rem;
    border-radius: 1rem;

}